@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

html,
body,
#root,
.app,
.content {
  height: 100%;
  width: 100%;
  font-family: 'Source San Pro', sans-serif;
}

.app {
  display: flex;
  position: relative;
}

.circle-progress {
  display: flex;
  justify-content: center;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Scroll track */
::-webkit-scrollbar-track {
  background: #e0e0e0;
}

/* Scroll Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Scroll handle on Hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* components folder
- shared throughout application
- used more than once
*/